*{
    margin: 0px;
}
#container{
    width: 80%;
    background-color: red;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

header{
    width: 100%;
    background-color: lightskyblue;
    color: #333;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

aside{
    float: left;
    min-height: 700px;
    width:25%;
    background: #ccc;
    text-align: center;
    line-height: 700px;

}

#articles{
    float: left;
    width: 75%;
    min-height: 700px;
    background-color: lemonchiffon;
}

#articles article{
    width: 25%;
    height: 150px;
    background: green;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float:  left;
    margin:15px;
    color:white;
}

.clearfix{
    float: none;
    clear: both;
}

/* responsive */

@media(max-width:800px) {
    #articles article{
        width: 40%;
        background: red;
    }
}


@media(max-width:550px) {
    #container{
        overflow: hidden;
    }

    aside{
        float: none;
        min-height: auto;
        line-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 19px;
    }
    #articles {
        width: 100%;
    }

    #articles article{
        width: 90%;
        background:blue;
    }
}